@inherits UmbracoViewPage<ContentModels.DocModel>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Skybrud.ImagePicker;
@using Skybrud.ImagePicker.Extensions;
@using ClientDependency.Core.Mvc;
@{
    Layout = "~/Views/_Master.cshtml";

    ImagePickerList imagePickerList = Model.GetImagePickerList("multiImagePicker");

}

    
@Html.GetGridHtml(Model, "grid")
<p>Skybrud Image Picker</p>
@if (imagePickerList.HasItems)
{
    foreach (ImagePickerItem item in imagePickerList.Items)
    {
        <img src="@item.Image.GetCropUrl(cropAlias:"square_thumb", useCropDimensions:true )" title="@item.Title" /><span>@item.Link.JObject</span>
    }

    <img src="@Umbraco.TypedMedia(1051).GetCropUrl("square_thumb")" />
}
